<?xml version="1.0" encoding="utf-8"?>

<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
	xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
	IgnorableNamespaces="uap rescap">

	<Identity
		Name="c206688d-b540-4cc0-bf2e-344d1f765392"
        Publisher="CN=Zxilly"
		Version="1.0.0.0" />

	<Properties>
		<DisplayName>Notify</DisplayName>
    <PublisherDisplayName>Zxilly</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		             Executable="Notify.exe"
		             EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="Notify"
				Description="Notify"
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="75AFCA4D-C322-4FBA-BE7C-943CAA62E6DD" />
				</desktop:Extension>

				<!--Register COM CLSID-->
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="Notify.exe" DisplayName="Notify" Arguments="----AppNotificationActivated:">
							<com:Class Id="75AFCA4D-C322-4FBA-BE7C-943CAA62E6DD" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>

			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>